@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import 'globalStyles.scss';
@import 'buttonsStyles.scss';
@import 'formStyles.scss';

.App {
  text-align: center;
  background-color: $dark-color;
  color: $light-color;
  font-family: $font-stack;
}
