@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
body {
  background-color: #202124;
  overflow: x hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #B26ADC;
}

p {
  font-size: 0.9em;
}

.Container {
  max-width: 80%;
  margin: 0 auto;
}

.centerText {
  text-align: center;
}

.PageRegularPadding {
  padding: 50px 0;
}

@media only screen and (max-width: 768px) {
  .Container {
    max-width: 95%;
    margin: 0 auto;
  }
}
.primary-btn {
  background-color: #B26ADC;
  border-radius: 3px;
  color: #202124;
  border: 2px solid #B26ADC;
  font-family: "Quicksand", sans-serif;
  width: 180px;
  font-weight: 700;
  padding: 5px;
  margin: 10px 0px;
  font-size: 15px;
  letter-spacing: 0.05em;
}
.primary-btn:hover {
  cursor: pointer;
}

.secondary-btn {
  background-color: transparent;
  border-radius: 3px;
  color: #B26ADC;
  border: 2px solid #B26ADC;
  font-family: "Quicksand", sans-serif;
  width: 180px;
  font-weight: 700;
  padding: 5px;
  margin: 10px 0px;
  font-size: 15px;
  letter-spacing: 0.05em;
}
.secondary-btn:hover {
  cursor: pointer;
}

.secondary-btn-invt {
  background-color: transparent;
  border-radius: 3px;
  color: #202124;
  border: 2px solid #202124;
  font-family: "Quicksand", sans-serif;
  width: 180px;
  font-weight: 700;
  padding: 5px;
  margin: 10px auto;
  font-size: 15px;
  letter-spacing: 0.05em;
}
.secondary-btn-invt:hover {
  cursor: pointer;
}

.third-btn {
  background-color: transparent;
  border: none;
  color: #B26ADC;
  font-family: "Quicksand", sans-serif;
  width: 180px;
  font-weight: 700;
  padding: 10px;
  margin: 10px auto;
  font-size: 15px;
  letter-spacing: 0.05em;
}
.third-btn:hover {
  cursor: pointer;
}

.fourth-btn {
  background-color: transparent;
  border: none;
  color: #B26ADC;
}

.disabled-btn {
  color: rgba(209, 209, 224, 0.3843137255);
  background-color: rgba(178, 106, 220, 0.4666666667);
  border-color: transparent;
}

.profile-third-btn {
  background-color: transparent;
  border: none;
  color: #B26ADC;
  font-family: "Quicksand", sans-serif;
  width: 180px;
  text-align: left;
  font-weight: 700;
  padding: 10px 10px 10px 0;
  font-size: 15px;
  letter-spacing: 0.05em;
}
.profile-third-btn:hover {
  cursor: pointer;
}

.regularInput {
  background-color: transparent;
  border-radius: 3px;
  color: #f5f5f5;
  border: 2px solid #B26ADC;
  font-family: "Quicksand", sans-serif;
  width: 180px;
  font-weight: 700;
  padding: 10px;
  margin: 10px auto;
  font-size: 15px;
  letter-spacing: 0.05em;
}

fieldset {
  border: none;
}

label, textarea {
  font-size: 0.9em;
  font-family: "Quicksand", sans-serif;
}

textarea {
  resize: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #B26ADC;
  border-radius: 20px;
}

.simpleInput {
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid #f5f5f5;
  font-family: "Quicksand", sans-serif;
  color: #f5f5f5;
  width: 100%;
  margin: 2px 0;
  padding: 8px 0px;
}
.simpleInput::-moz-placeholder {
  color: #f5f5f5;
}
.simpleInput::placeholder {
  color: #f5f5f5;
}
.simpleInput:focus {
  border: 0;
  border-bottom: 1px solid #B26ADC;
  color: #B26ADC;
  outline: none;
}

.formRow {
  display: block;
}

.simpleHalfWidthInput {
  width: 48%;
}

.inputContactWidth {
  width: 70%;
}

.FormButtonsRow {
  display: flex;
  gap: 20px;
}

.errorInput {
  border-bottom: 1px solid #ED2B2A;
}

.errorMessage {
  color: #ED2B2A;
  font-size: 0.8em;
  display: block;
}

.acceptCheckbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 10px 10px 10px 0;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}

.acceptCheckbox:checked::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: #B26ADC;
  border-radius: 1px;
}

.rangeInput {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  width: 100%;
  height: 10px;
}

.rangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f5f5f5;
  cursor: pointer;
  margin-top: 25px;
}

.rangeInput::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f5f5f5;
  cursor: pointer;
}

.rangeInput::-webkit-slider-thumb:active {
  background-color: #B26ADC;
}

.rangeInput::-moz-range-thumb:active {
  background-color: #B26ADC;
}

.swal2-title, .swal2-styled.swal2-cancel {
  font-family: "Quicksand", sans-serif !important;
}

.swal2-html-container {
  z-index: 1;
  justify-content: center;
  margin: 1em 1.6em 0.3em;
  padding: 0;
  overflow: auto;
  color: inherit;
  font-size: 1.125em;
  font-family: "Quicksand", sans-serif !important;
  font-weight: normal;
  line-height: normal;
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
}

[class^=swal2] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.swal2-styled.swal2-confirm {
  background-color: #B26ADC !important;
  border-radius: 3px;
  color: #202124 !important;
  border: 2px solid #B26ADC;
  font-family: "Quicksand", sans-serif;
  width: 180px;
  font-weight: 700;
  padding: 8px;
  margin: 10px 0px;
  font-size: 15px;
  letter-spacing: 0.05em;
}
.swal2-styled.swal2-confirm:hover {
  cursor: pointer;
}

.swal2-styled.swal2-cancel {
  border-radius: 3px;
  padding: 8px;
  font-size: 15px;
  letter-spacing: 0.05em;
}
.swal2-styled.swal2-cancel:hover {
  cursor: pointer;
}

.swal2-footer a {
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0px;
}

.App {
  background-color: #202124;
  color: #f5f5f5;
  font-family: "Quicksand", sans-serif;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #202124;
}

body::-webkit-scrollbar-thumb {
  background-color: #B26ADC;
  border-radius: 20px;
  border: 3px solid #202124;
}

/* LOADER */
.orbit {
  --uib-size: 25px;
  --uib-speed: 1.5s;
  --uib-color: $light-color;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-size);
  width: var(--uib-size);
}

.orbit::before,
.orbit::after {
  content: "";
  position: absolute;
  height: 60%;
  width: 60%;
  border-radius: 50%;
  background-color: var(--uib-color);
  will-change: transform;
  flex-shrink: 0;
}

.orbit::before {
  animation: orbit var(--uib-speed) linear infinite;
}

.orbit::after {
  animation: orbit var(--uib-speed) linear calc(var(--uib-speed) / -2) infinite;
}

@keyframes orbit {
  0% {
    transform: translate(calc(var(--uib-size) * 0.5)) scale(0.73684);
    opacity: 0.65;
  }
  5% {
    transform: translate(calc(var(--uib-size) * 0.4)) scale(0.684208);
    opacity: 0.58;
  }
  10% {
    transform: translate(calc(var(--uib-size) * 0.3)) scale(0.631576);
    opacity: 0.51;
  }
  15% {
    transform: translate(calc(var(--uib-size) * 0.2)) scale(0.578944);
    opacity: 0.44;
  }
  20% {
    transform: translate(calc(var(--uib-size) * 0.1)) scale(0.526312);
    opacity: 0.37;
  }
  25% {
    transform: translate(0%) scale(0.47368);
    opacity: 0.3;
  }
  30% {
    transform: translate(calc(var(--uib-size) * -0.1)) scale(0.526312);
    opacity: 0.37;
  }
  35% {
    transform: translate(calc(var(--uib-size) * -0.2)) scale(0.578944);
    opacity: 0.44;
  }
  40% {
    transform: translate(calc(var(--uib-size) * -0.3)) scale(0.631576);
    opacity: 0.51;
  }
  45% {
    transform: translate(calc(var(--uib-size) * -0.4)) scale(0.684208);
    opacity: 0.58;
  }
  50% {
    transform: translate(calc(var(--uib-size) * -0.5)) scale(0.73684);
    opacity: 0.65;
  }
  55% {
    transform: translate(calc(var(--uib-size) * -0.4)) scale(0.789472);
    opacity: 0.72;
  }
  60% {
    transform: translate(calc(var(--uib-size) * -0.3)) scale(0.842104);
    opacity: 0.79;
  }
  65% {
    transform: translate(calc(var(--uib-size) * -0.2)) scale(0.894736);
    opacity: 0.86;
  }
  70% {
    transform: translate(calc(var(--uib-size) * -0.1)) scale(0.947368);
    opacity: 0.93;
  }
  75% {
    transform: translate(0%) scale(1);
    opacity: 1;
  }
  80% {
    transform: translate(calc(var(--uib-size) * 0.1)) scale(0.947368);
    opacity: 0.93;
  }
  85% {
    transform: translate(calc(var(--uib-size) * 0.2)) scale(0.894736);
    opacity: 0.86;
  }
  90% {
    transform: translate(calc(var(--uib-size) * 0.3)) scale(0.842104);
    opacity: 0.79;
  }
  95% {
    transform: translate(calc(var(--uib-size) * 0.4)) scale(0.789472);
    opacity: 0.72;
  }
  100% {
    transform: translate(calc(var(--uib-size) * 0.5)) scale(0.73684);
    opacity: 0.65;
  }
}
.loadingOrbit {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=App.css.map */