@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import 'globalStyles.scss';
@import 'buttonsStyles.scss';
@import 'formStyles.scss';

.App {
  background-color: $dark-color;
  color: $light-color;
  font-family: $font-stack;
}

/* SCROLLBAR */

body::-webkit-scrollbar {
  width: 12px;
}
    
body::-webkit-scrollbar-track {
  background: $dark-color;
}
    
body::-webkit-scrollbar-thumb {
  background-color: $secondary-color;
  border-radius: 20px;
  border: 3px solid $dark-color;
}
