// TIPOGRAFÍA

$font-stack: 'Quicksand', sans-serif;

$light-weight: 300;
$regular-weight: 400;
$semibold-weight: 600;
$bold-weight: 700;

$regular-size: 0.9em;

// COLORES

$dark-color: #202124;
$light-color: #f5f5f5;
$secondary-color: #B26ADC;

// GAP

$regular-gap: 15px;

// DEGRADADOS

$gradient-color: linear-gradient(0deg, rgba(38,33,42,1) 0%, rgba(37,39,42,1) 100%);

// RESETS

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $secondary-color
}

p {
    font-size: $regular-size;
}

.Container {
    max-width: 80%;
    margin: 0 auto;
}

