.FullWidthContainer {
    display: flex;
    justify-content: space-between;
    min-height: 92vh;
    text-align: center;

}

.LeftCol, .RightCol {
    width: 50%;
}

.RightCol {
    background-image: url("../../assets/life-on-mars-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.LeftCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SignUpHeader {
    max-width: 80%;
}

@media only screen and (max-width: 768px) {

    .LeftCol {
        width: 95%;
    }

    .RightCol {
        display: none;
    }
}
