.SignUpForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;

    button {
        margin: 10px auto;
    }
}

.twoColumns {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    
}