@import '../../styles/globalStyles.scss';

.TestimonialsComponent {
    display: flex;
}

.TestimonialCard {
    width: 320px;
    margin: 25px;
    -webkit-box-shadow: 4px 2px 24px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 4px 2px 24px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 2px 24px 2px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 2em;
    h4 {
        margin: 0;
    }
    p {
        margin: 0;
        font-weight: $light-weight;
        padding: 0.5em 0;
    }
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background-color: $secondary-color;
}

.swiper-wrapper{
    padding: 30px;
}