.HousePage {
    max-width: 80%;
    margin:60px auto 0px auto
}



.navFiltersHouses {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .MaterialFilterComponent {
        width: 70%;
    }


}
