@import '../../styles/globalStyles.scss';


.AllHousesComponent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px auto;

    .cardHouse {
        width: 38.5vw;
        border-radius: 16px;
        margin-bottom: 40px;
        padding-bottom: 10px;
        -webkit-box-shadow: 4px 2px 24px 2px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: 4px 2px 24px 2px rgba(0, 0, 0, 0.55);
        box-shadow: 4px 2px 24px 2px rgba(0, 0, 0, 0.55);
        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation-delay: 200ms;

        &:hover {

        }

        img {
            width: 100%;
            border-top-right-radius: 16px ;
            border-top-left-radius: 16px;
        }

        .cardResume {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 0 30px;
            gap: 10px;

            p.nameArchitect {
                color: $secondary-color;
            }
        }
    }
}

.noHouses {
    width: 80%;
    margin: 60px auto;
}

@media only screen and (max-width: 768px) {

    .AllHousesComponent {
        flex-wrap: wrap;
        justify-content: space-between;
    
        .cardHouse {
            width: 90vw;
    
            img {
                width: 100%;
            }
        }
    }
}