@import '../../styles/globalStyles.scss';

.NavComponent {
    -webkit-box-shadow: 11px 0px 20px 17px rgba(0, 0, 0, 0.55);
    -moz-box-shadow:  11px 0px 20px 17px rgba(0, 0, 0, 0.55);
    box-shadow: 11px 0px 20px 17px rgba(0, 0, 0, 0.55);
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 10%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 15px;

        a {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}

.SignUpBtn {
    background-color: transparent;
    border-radius: 3px;
    color: $secondary-color;
    border: 1px solid;
    font-family: $font-stack;
    padding: 5px 20px;
    margin: 10px auto;
    font-size: 15px;
    letter-spacing: 0.05em;
    &:hover {
        cursor:pointer;
    }  
}

.greenCercle {
    width: 7px;
    height: 7px;
    background-color: greenyellow;
    border-radius: 100%;
    margin: 0 5px 0 0;
}


/* MENU MOVIL*/

.bm-menu-wrap {
    background-color: #202124;
    padding: 2em;

    span {
        background-color: $secondary-color;
    }
}

nav.bm-item-list {
    display: flex;
    flex-direction: column;
}